<div class="col__section-forgotPass">
	<div class="container">
		<div class="row">
			<div class="col-md-5 jumbotron" style="margin: 0 auto;">
				<h2>¿Olvidaste tu Constraseña?</h2>

				<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
				  <%= devise_error_messages! %>

				  <div class="form-group">
				    <%= f.label :Correo_electronico %><br />
				    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
				  </div>

				  <div class="actions">
				    <%= f.submit "Enviar para restablecer la contraseña", class: "btn btn-warning" %>
				  </div>
				<% end %>
			</div>
		</div>
	</div>
</div>
